<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Actividades - Priority Pulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actividades.css') }}">
    <!-- link para sweetalert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.2/dist/sweetalert2.min.css">
</head>

<body>
    {% if errores and errores.actividades_error %}
        <script>
            Swal.fire({
                title: 'Mensaje',
                text: '{{ errores.actividades_error }}',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        </script>
    {% endif %}
    {% include 'navbar.html' %}
    {% if errores and errores.no_actividades %}
        <div class="calendario-header">
            <h2>No hay actividades para mostrar</h2>
            <a href="{{ url_for('main.NvActividad') }}" class="crear-actividad-btn"><h2>Crear mi nueva actividad</h2></a>
        </div>
    {% elif tareas_importantes|length > 0 %}
        <div class="Tareas_Dia">
            <section class="calendario">
                <div class="calendario-header">
                    <h2>Tareas por completar</h2>
                    <a href="{{ url_for('main.NvActividad') }}" class="agregar-btn">Agregar</a>
                </div>
                <div class="tarjetas calendario-grid">
                    {% for tarea in tareas_importantes %}
                    <div class="tarjeta {% if tarea.completada %}completada{% endif %}">
                        <img src="{{ tarea.imagen }}" class="icono-tarea">
                        <h3>{{ tarea.titulo }}</h3>
                        <span>{{ tarea.hora }}</span>
                        <p class="descripcion">{{ tarea.descripcion }}</p>
                        <input type="checkbox" class="custom-checkbox" {% if tarea.completada %}checked{% endif %} data-idx="{{ loop.index0 }}">
                        <div class="acciones">
                            <a href="javascript:void(0)" class="btn-eliminar" onclick="confirmarEliminacion('{{ tarea.id }}')">Eliminar</a>
                            <a href="{{ url_for('main.editar_actividad', id=tarea.id) }}" class="btn-actualizar">Actualizar</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% else %}
        <div class="calendario-header">
            <h2>Hay un pequeño inconveniente para mostrar las tareas</h2>
        </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.22.2/dist/sweetalert2.all.min.js"></script>
    <script>
        const checkboxes = document.querySelectorAll('.custom-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const tarea_completada = Array.from(checkboxes)
                    .filter(cbx => cbx.checked)
                    .map(cbx => cbx.getAttribute('data-idx'));
                fetch('{{ url_for('main.actualizar_tarea') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tarea_completada: tarea_completada })
                })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#racha-fuego').innerText = data.racha + ' 🔥';
                });
            });
        });

        function confirmarEliminacion(id) {
            id = parseInt(id);
            Swal.fire({
                title: 'Confirmar eliminación',
                text: '¿Estás seguro de que deseas eliminar la tarea?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{{ url_for('main.eliminar_actividad', id='__ID__') }}".replace('__ID__', id);
                }
            });
        }
    </script>
</body>

</html>
