<nav class="navbar">
  <div class="box">
    <button class="open-modal-btn">
      <span id="racha-fuego" class="racha" style="color: {{ color_racha }}">
        {{ racha }} 🔥
        <span class="manita">✋</span>
        <span class="carita">😊</span>
      </span>
    </button>
  </div>
  <a href="{{ url_for('main.perfil') }}">Perfil</a>
  <a href="{{ url_for('main.rutinas') }}">Rutinas</a>
  <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-nav">
  <a href="{{ url_for('main.actividades') }}">Actividades</a>
  <a href="{{ url_for('main.login') }}">Cerrar Sesión</a>
</nav>
